@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

@theme {
  --font-body: Poppins;
  --font-sans: Poppins;
  --font-serif: Poppins;
  --font-mono: Poppins;

  --color-mainColor: #88b04b;
  --color-mainLightColor: #a9c97e;
  --color-mainDarkColor: #6c8c37;
  --color-textPrimaryColor: #2e2f27;
  --color-textPrimaryLightColor: #f4f7e7;
  --color-textPrimaryDarkColor: #1c1d17;
  --color-textMainColor: #88b04b;
  --color-hintTextColor: #c7d4a0;
  --color-bgColor: #f9fbef;
  --color-bgLightColor: #ffffff;
  --color-mainLightBgColor: #e9f2d7;
  --color-mainDarkBgColor: #6c8c37;
  --color-dividerColor: #d8e2c3;
  --color-shadowColor: #c0d0b0;
  --color-borderColor: #b4c49a;
  --color-focusBorderColor: #88b04b;
  --color-ratingColor: #ffd700;
  --color-successColor: #62a850;
  --color-errorColor: #d72638;
  --color-warningColor: #ffc107;
}
