@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --font-body: Manrope;
  --font-sans: Manrope;
  --font-serif: Manrope;
  --font-mono: Manrope;

  --shadow-custom: 0 2px 4px #0000001a, 0 8px 16px #0000001a;

  --color-mainColor: #ff8c00;
  --color-mainLightColor: #ffa64d;
  --color-mainDarkColor: #cc7000;
  --color-textMainColor: #ff8c00;

  /* Text */
  --color-textPrimaryColor: #141414;
  --color-textPrimaryLightColor: #ffffff;
  --color-textPrimaryDarkColor: #000000;
  --color-textPlaceholderColor: #8c8c8c;
  --color-hintTextColor: #7d7d7d;

  /* Background */
  --color-bgColor: #f8f8f8;
  --color-bgLightColor: #ffffff;
  --color-mainLightBgColor: #fff2e6;
  --color-mainDarkBgColor: #cc7000;

  /* UI Neutrals */
  --color-dividerColor: #e0e0e0;
  --color-shadowColor: #c7c7c7;
  --color-borderColor: #d0d0d0;
  --color-focusBorderColor: #ff8c00;

  /* Status */
  --color-ratingColor: #ffd700;
  --color-successColor: #28a745;
  --color-errorColor: #d72638;
  --color-warningColor: #ffc107;
}
